@{
  Layout = "_Layout";
}

@model Library.Models.Book

<h4>Add New Book</h4>
<hr/>

<div class="container">
  @using (Html.BeginForm())
  {
    @Html.LabelFor(model => model.Title)
    <br/>
    @Html.TextBoxFor(model => model.Title)
    <br/>
    <br/>
    <input type="submit" value="Add" class="btn btn-primary" />
  }
</div>